{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block main %}

   {% if user %}

   <h1>{{ 'Дорогой' if sex == 'male' else 'Дорогая' }} {{ user }} !!!</h1>
   <h2>  
    {{ 'С Новым годом! Желаю тебе в новом году успехов во всех твоих делах, 
    крепкого здоровья и много счастливых моментов вместе с твоими близкими. 
    Пусть этот год станет для тебя годом творческих достижений и новых возможностей. 
    Желаю тебе быть сильным и решительным, достигать поставленных целей и быть счастливым во всех сферах жизни. 
    Пусть новый год принесет тебе только самые лучшие и долгожданные моменты!' 
    if sex == 'male' else 
    'С Новым годом! Желаю тебе, чтобы этот год принес в твою жизнь только радость, 
    успехи и благополучие. Пусть каждый момент будущего года будет наполнен любовью и теплом, 
    а новогодние праздники станут незабываемыми и веселыми. Пусть все твои мечты сбудутся, 
    а ты обретешь все, что стремишься получить. Желаю тебе быть самой счастливой девушкой 
    на свете и пусть новый год принесет тебе только радость и улыбки!' }}
    </h2>
    <h2>Дедушка мороз</h2>
   <div>
       <a href="/lab9">Заново</a>
   </div>
   {% else %}
   
   <h1>Поздравления</h1>
   
   <form>
       <label>Ваше имя:</label>
       <div>
           <input type="text" placeholder="Как вас зовут?" name="user" value="{{ user or '' }}">
           <span class="errors">{{errors.user }}</span>
       </div>

       <label style="font-size: 40;">Ваше пол:</label>
       <div>
            <select name="sex">
               <option value="male" {{ sex == 'male' and 'selected' }}>Мужcкой</option>
               <option value="female" {{ sex == 'female' and 'selected' }}>Женcкий</option>
            </select>
       </div>
       <div>
           <button type="submit">Отправить</button>
       </div>
   </form>

   {% endif %}
{% endblock %}