 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Скрибка Владислав, Филатова Юлия, {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
 </head>
 <body>
   <header>
        WEB - программирование, часть 2. {{ self.lab() }}
   </header>

   <main>
        {% block main %}{% endblock %}
        
        <img src="''' + url_for('static' , filename='1car.jpg') + '''" >
        <div>Toyota Mark II 90-го кузова - это надежный, производительный и 
          комфортабельный автомобиль, который сохраняет свою ценность и 
          привлекательность на протяжении многих лет (лучшая машина всех времен).</div>

        <img src="''' + url_for('static' , filename='2car.jpg') + '''" >
        <div>Toyota Mark II 100-го кузова рестайлинг. Тоже самое, что Toyota Mark II 90-го, но новее (anti stok car club).</div>

        <img src="''' + url_for('static' , filename='3car.jpg') + '''" >
        <div>Toyota Mark X. Жалкий носитель легендарного имени Mark. На дорогах не узнаваем.</div>

        <img src="''' + url_for('static' , filename='4car.jpg') + '''" >
        <div>Honda NSX. Год выпуска: 1990. Тот случай, когда японцы умудрились сделать машину, которая в 
          дарговом заезде с легкостью облоняла Ferrari тех же лет при меньшей стоимости и мощности.</div>

        <img src="''' + url_for('static' , filename='5car.jpg') + '''" >
        <div>Mitsubishi Lancer Evolution VIII. Просто великолепная машина. Надежный, быстрый, заметный. 
          Не даром он был в серии игр Need for Speed. </div>

        <img src="''' + url_for('static' , filename='6car.jpg') + '''" >
        <div>Nissan R35 GTR. В 2011 году японцы решили порадовать мир своим изобретением, которое 
          при своих визуально немалых размерах и массе выдавало удивительные показатели в плане разгона, 
          а именно 2.8 секунды до 100 километров в час, и максимальной скоростью около 300 километров в час, 
          при стоимости всего в 4 миллиона рублей. </div>
   </main>

   <footer>
        &copy; Скрибка Владислав, Филатова Юлия, ФБИ-11, 3 курс, 2023
   </footer>
 </body>
 </html>

 