 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Скрибка Владислав, Филатова Юлия, {{ lab2 }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
 </head>
 <body>
    <header>
        WEB - программирование, часть 2. {% if lab2 %}Лабораторная работа 2{% endif %}
    </header>

    <main>
        5 + 2 = {{ 5 + 2 }} <br>
        11 * 28 = {{ 11 * 28 }} <br>
        8452/793 = {{ 8452/793 }} <br>
        45 ** 8 = {{ 45 ** 8 }} <br>
        <ul>
            {% for f in fruits %}
            <li>{{ f.name }}: {{ f.price }} &#8381;</li>
            {% endfor %}
        </ul>

        <ul>
            {% for f in knigi %}
            <li>{{ f.name }}</li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        &copy; 
        {% if name %}
            {{ name }},
        {% else %}
            Анонимус,
        {% endif %} 
        {% if group %}
            {{ group }},
        {% else %}
            Не указана группа,
        {% endif %} 
        {% if course %}
            {{ course }},
        {% else %}
            Нет курса,
        {% endif %} 
            2023
    </footer>
 </body>
 </html>