{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}
 
{% block main %}

    <h2>Заказ зерна</h2>
    <form method="POST">
        <div>
            <label for="zerno">Вид зерна:</label>
            <select name="zerno">
                <option value="zxvtym">ячмень</option>
                <option value="jdtc">овес</option>
                <option value="gitybwf">пшеница</option>
                <option value="hj;m">рожь</option>
            </select>
        </div>

        <div>
            <label for="weight">Напиши вес в тоннах:</label>
            <input type="number" name="weight" value="{{ weight or ''}}">
        </div>

        <span style="color: red;">{{ error2 }}</span>

        <div>
            <button type="submit">Купить</button>
        </div>

    </form>
    
    <a href="/lab4/zerno">На заказа зерна</a>

    {% endblock %}
